
@import url('https://fonts.googleapis.com/css2?family=Sarabun:wght@400;500;600;700&display=swap');
* {
    font-size: 16px;
    font-family: 'Sarabun', sans-serif;
  }

  .tb-header {
    line-height: 1.8;
    padding: 5px 0;
}
.tb-head{
    font-size: 18px;
    padding: 10px;
}
.tb-data {
    font-size: 14px;
    padding: 10px;
}
.td-body-data{
    padding: 10px;
}