@import url("https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700&display=swap");

*:not(.material-icons) {
  font-family: "Prompt", sans-serif !important;
}

#app:not(.material-icons) {
  font-family: "Prompt", sans-serif !important;
}

/* หน้า Homemenu */
.container.container--fluid {
  height: 100%;
}

.container.menu-container {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.menu-box {
  width: 585px;
}

.size10 {
  font-size: 10px;
}

.size14 {
  font-weight: bold;
  font-size: 14px;
}

.size36 {
  font-size: 36px;
  font-weight: 550;
}

.w-100 {
  width: 100%;
}

.order{
  margin-left: 0.5rem;
  font-size: 12px;
  color: #C5C7CD;
}

.updateintable-font-color{
  font-size: 12px;
  color: #C5C7CD;
}

.quotation {
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: #000000;
}

.quotation-font-color{
  font-size: 12px;
  color: #C5C7CD;
}

.quotation-package{
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: #000000;
}

.quotation-package-red{
  margin-left: 0.5rem;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: #ff0000;

}

.header-title {
  font-size: 24px;
  font-weight: bold;
  color: #252733;
}

.header-table-title {
  font-size: 19px;
  font-weight: bold;
  letter-spacing: 0.4px;
  color: #252733;
}

.cardshowtotal {
  width: 258px;
  background: #ffffff;
  border: 1px solid #dfe0eb;
  box-sizing: border-box;
  border-radius: 8px;
}

.vcsubtitle {
  height: 24px;
  left: 32px;
  right: 896px;
  top: 24px;
  font-weight: bold;
  font-size: 19px !important;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.4px;
  color: #9fa2b4;
}

.vctitle {
  font-weight: bold;
  font-size: 40px !important;
  line-height: 50px;
  text-align: center;
  letter-spacing: 1px;

  color: #252733;
}

.headercard {
  color: #9fa2b4;
  font-size: 19px;
}

.quotation-select-pro {
  color: #c4c4c4;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.4px;
  margin-left: 0.5rem;
}

.package {
  width: 100px;
  height: 20px;
  left: 97px;
  top: 0px;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: #606771;
}

.h-package {
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;
  letter-spacing: 0.3px;
  color: #252733;
}

.s-package {
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: #000000;
}

.cg {
  color: #c5c7cd;
}

.create-edit-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;
}

.promotion {
  font-size: 12px;
  margin-left: 0.5rem;
  color: red;
}

/* .expandfood{
  margin: 0px 15px;
  padding: 15px 0px;
} */

