@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700;800;900&display=swap');

*{
    font-family: 'Mulish', sans-serif;
  }

  .sizetitle {
    font-size: 30px;
  }
  
  .sizehead {
    font-size: 16px;
  }
  
  #app {
    font-family: 'Mulish', sans-serif;
  }

  
