@media only screen and (max-width: 768px) {
  html {
    font-size: 14px;

    .v-application{
      .v-dialog{
        max-width: 100% !important;
      }
    }



    .main-container {
      .v-card {
        width: 100%;
        margin: 0 !important;

        .sizetitle {
          font-size: 1.5rem;

        }
      }
    }

    .container{
      .v-card{
        width: 100%;
        margin: auto !important;
      }
    }


  }
}
